body{
    
}

header{
    
}

header.horizontalHeader{
    
}

footer{
    
}

div{
    display: inline-block;
    margin: 0pt;
    padding: 0pt;
    vertical-align: top;
}

div.navContainer{
   display: inline-block;
   vertical-align: top;
   text-align: center;
   
}

nav{
    
    
}

ul{
    
}

ul.navList{
    text-align: center;
    margin: 0pt;
    padding: 0pt;
    overflow: hidden;
}

li{
    
}

li.navElement{
    display: inline-block;
    margin: 10pt;
    padding: 0pt 25pt;
}

h1{
    margin: 0pt;
}