body{
    margin: 0pt;
    text-align: center;
    
}

header{
    margin: 0pt;
}

header.horizontalHeader{
    background-color: black;
    color: grey;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: thick;
    
}

footer{
   background-color: black;
   color: grey; 
   
}

footer div{
    display: inline-block;
    margin: 0pt 15pt;
    padding: 0pt 15pt;
    vertical-align: top;
    background-color: black;
    color: grey;
}

article{
    display: inline;
    
}

section{
    display: inline-block;
    width: 75%;
}

section.centeredContainer{
    margin: 0 auto; 
    text-align: center;
    width: 80%;
    
}

div{
    display: inline-block;
    margin: 0pt;
    padding: 0pt;
    vertical-align: top;
}

div.navContainer{
   display: inline-block;
   vertical-align: top;
   text-align: center;
   
}

nav{
    
    
}

aside{
    display: inline-block;
    width: 35%;
}


ul{
    
}

ul.navList{
    text-align: center;
    margin: 0pt;
    padding: 0pt;
    overflow: hidden;
}

ul.navList a{
    color: grey;
}

ul.navList a:visited{
   color: darkblue;
}

li{
    
}

li.navElement{
    display: inline-block;
    margin: 10pt;
    padding: 0pt 25pt;
}

h1.SiteID{
    margin: 0pt;
}

h1.SiteID a{
    text-decoration: none;
    color: grey;
}
